<div class="col-lg-2">
	<div class="list-group">
		<a href="a_index.ejs" class="list-group-item list-group-item-action">首页</a>
		<a href="/userlist" class="list-group-item list-group-item-action">学生管理</a>
		<a href="/recordlist" class="list-group-item list-group-item-action">缺寝管理</a> 
		<a href="/aInfo" class="list-group-item list-group-item-action">我的信息</a>
		<a href="/logOut" class="list-group-item list-group-item-action">退出</a>
	</div>
</div>