<div class="col-lg-2">
	<div class="list-group">
		<a href="a_index.ejs" class="list-group-item list-group-item-action">首页</a>
		<a href="AllUser" class="list-group-item list-group-item-action">学生管理</a>
		<a href="Allrecordlist" class="list-group-item list-group-item-action">缺寝管理</a> 
	</div>
</div>