<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<!--网页规范化-->
<%-include('link.ejs')%>
</head>
<body>
	<div class="container-fluid">
		<%-include('top.ejs')%>

		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>

			<div class="col-lg-6">
				<div class="jumbotron">
					<h2 class="display-4">欢迎使用学生宿舍管理系统</h2>
					<hr class="my-4">
					<h3>开发人：HYQ</h3>
				</div>
			</div>
		</div>
	</div>
</body>
</html>