<div class="col-lg-2">
	<div class="list-group">
		<a href="index.ejs" class="list-group-item list-group-item-action">首页 </a> 
		<a href="login.ejs" class="list-group-item list-group-item-action">用户登录</a>
		<a href="reg.ejs" class="list-group-item list-group-item-action">学生注册</a>
		<a href="a_reg.ejs" class="list-group-item list-group-item-action">宿管注册</a>
	</div>
</div>