<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.css">
        <script src="bootstrap-4.4.1-dist/jquery-3.0.0.min.js"></script>
        <script src="bootstrap-4.4.1-dist/popper.min.js"></script>
        <script src="bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">欢迎使用本系统</h1>
            <p class="lead">开发人：HYQ514</p>
            <hr class="my-4">
            <p>想要了解更多</p>
            <div class="content">
                <div class="content1">
                    <a href="login.html" class="login" role="button">登录</a>
                    <a href="register.html" class="register" role="button">注册</a>
                </div>
            </div>
        </div>
        
    </body>
</html>